{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/audio_player/palyer_styles.css' %}" />
  <div class="container">
    {% for audio in audio_files %}
      <div class="card my-3">
        <div class="row g-0">
          <div class="col-2 col-md-2">
            <img src="{% thumbnail audio.audio_thumbnail 'audio_image' %}" class="img-fluid rounded-start" alt="{{ song.songName }}"/>
          </div>
          <div class="col-8 col-md-8">
            <div class="card-body">
              <h7 class="card-title">{{ audio.name }}</h7>
            </div>
          </div>
          <div class="col-2 col-md-2">
            <div class="play-button d-flex h-100 justify-content-center align-items-center">
              <i class="btn bi bi-play-circle fs-1 play-btn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-sound-index="{{forloop.counter0}}"></i>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% include 'audio_lessons/partitions/modal.html' %}
{% endblock %}
{% block javascript %}

{% endblock %}
